<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xzn.fr</title>
</head>
<body>
    <h1>xzn.fr</h1>
    <form id="contact-form" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input id="submit-btn" type="submit" value="Shorten">
    </form>
    <ul>
        {% for url in urls %}
        <li><a href="{{ url.original }}">{{ url.slug }}</a> - {{ url.original }}</li>
        {% endfor %}
    </ul>
</body>
</html>